<!doctype html>
<html lang="en">
  <head>
    <title>[% title %] - Parallel Perl</title>

    <!-- Required meta tags -->
    <meta charset="[% settings.charset %]">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/perl.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="/js/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="/js/popper.min.js"</script> -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Various libraries -->

    <!-- form validator -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script> -->

  </head>
  <body>
    <div class="container-fluid site-headline-container" id="site-headline-container" onClick="window.location.assign('/')">
      <div class="row">
        <div class="col">
          <div class="site-headline">
            [% settings.site.headline %]
          </div>
          <div class="site-subhead">
            [% settings.site.subhead %]
          </div>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- site-headline-container -->

    <div class="container-fluid site-menu-container px-2 py-t-1" id="site-menu-container">
      <div class="row">
        <div class="col" id="site-menu-container-col">
          [%- INCLUDE 'menu.tt' -%]
        </div>
      </div>
    </div> <!-- menu-container -->

    <div class="container-fluid main-content-container" id="main-content-container">
      <div class="row">
        <div class="col">
          [% content -%]
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- main-content-container -->
  </body>
</html>
