/* menu.css */

/* Overrides */
.navbar-toggler {
    font-size: 1rem;
}

.navbar-toggler>.close {
    display:inline;
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.dropdown-menu, .dropdown-header, .dropdown-item {
    padding: 0px;
}

.dropdown-menu ul {
    display: block;
    padding: 0px;
}

.dropdown-menu li {
    padding-left: 10px;
}

.dropdown-menu li:hover {
   background-color: #333;
}

/* Our classes */

.navbar-fixed {
    top:      0;
    z-index:  100;
    position: fixed;
    width:    100%;
}

.topnav {
    background-color: #333;
    float:            right;
}

.topnav a {
    display:         inline-block;
    color:           #f2f2f2;
    text-align:      center;
    padding:         0px 6px;
    text-decoration: none;
    font-size:       11px;
}

.topnav a:hover {
    background-color: #ddd;
    color:            black;
}

.topnav .navbar-text {
    display: inline;
    padding: 0px 0px;
    color: #f2f2f2;
}


